html, body {
  padding: 0;
  margin: 0;
  font-family: 'Courier New', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.app {
  .controls {
    margin: 1rem 2rem;

    input[type="text"] {
      width: 3rem;
      margin-right: 1rem;
      font-family: 'Courier New', sans-serif;
    }
  }

  .grid {
    margin: 2rem;
    line-height: 1rem;

    &-cell {
      width: 1rem;
      height: 1rem;
      padding: 0;
      border: none;
      margin: 0;
      background: none;
      line-height: 1rem;
      outline: 1px solid rgba(0, 0, 0, .25);
    }

    &:first-line {
      outline: 2px solid green;
    }
  }
}
